.ods-shape{
/* global-primitives-shape */

background-attachment:var(--ods-shape-background-attachment);
background-color:var(--ods-shape-bacground-color);
background-image:var(--ods-shape-background-image);
background-position:var(--ods-shape-background-position);
background-repeat:var(--ods-shape-background-repeat);
background:var(--ods-shape-background);
border:var(--ods-shape-border);
border-bottom:var(--ods-shape-border-bottom);
border-bottom-color:var(--ods-shape-border-bottom-color);
border-bottom-style:var(--ods-shape-border-bottom-style);
border-bottom-width:var(--ods-shape-border-bottom-width);
border-left:var(--ods-shape-border-left); 
border-left-color:var(--ods-shape-border-left-color);
border-left-style:var(--ods-shape-border-left-style);
border-left-width:var(--ods-shape-border-left-width);
border-right:var(--ods-shape-border-right);
border-right-color:var(--ods-shape-border-right-color);
border-right-style:var(--ods-shape-border-right-style);
border-right-width:var(--ods-shape-border-right-width);
border-top:var(--ods-shape-border-top);
border-top-color:var(--ods-shape-border-top-color);
border-top-style:var(--ods-shape-border-top-style);
border-top-width:var(--ods-shape-border-top-width);
border-collapse:var(--ods-shape-border-collapse);
width:var(--ods-shape-width);
min-width:var(--ods-shape-min-width);
max-width:var(--ods-shape-max-width);
height:var(--ods-shape-height);
min-height:var(--ods-shape-min-height);
max-height:var(--ods-shape-max-height);
border-radius:var(--ods-shape-border-radius);
padding:var(--ods-shape-padding);
padding-left:var(--ods-shape-padding-left);
padding-right:var(--ods-shape-padding-right);
padding-bottom:var(--ods-shape-padding-bottom);
padding-top:var(--ods-shape-padding-top);
margin:var(--ods-shape-margin);
margin-left:var(--ods-shape-margin-left);
margin-right:var(--ods-shape-margin-right);
margin-top:var(--ods-shape-margin-top);
margin-bottom:var(--ods-shape-margin-bottom);
display:var(--ods-shape-display);
overflow:var(--ods-shape-overflow);
overflow-x:var(--ods-shape-overflow-x);
overflow-y:var(--ods-shape-overflow-y);
cursor:var( --ods-shape-cursor);
}



.ods-shape:hover{

background-attachment:var(--ods-shape-hover-background-attachment);
background-color:var(--ods-shape-hover-bacground-color);
background-image:var(--ods-shape-hover-background-image);
background-position:var(--ods-shape-hover-background-position);
background-repeat:var(--ods-shape-hover-background-repeat);
background:var(--ods-shape-hover-background);
border:var(--ods-shape-hover-border);
border-bottom:var(--ods-shape-hover-border-bottom);
border-bottom-color:var(--ods-shape-hover-border-bottom-color);
border-bottom-style:var(--ods-shape-hover-border-bottom-style);
border-bottom-width:var(--ods-shape-hover-border-bottom-width);
border-left:var(--ods-shape-hover-border-left); 
border-left-color:var(--ods-shape-hover-border-left-color);
border-left-style:var(--ods-shape-hover-border-left-style);
border-left-width:var(--ods-shape-hover-border-left-width);
border-right:var(--ods-shape-hover-border-right);
border-right-color:var(--ods-shape-hover-border-right-color);
border-right-style:var(--ods-shape-hover-border-right-style);
border-right-width:var(--ods-shape-hover-border-right-width);
border-top:var(--ods-shape-hover-border-top);
border-top-color:var(--ods-shape-hover-border-top-color);
border-top-style:var(--ods-shape-hover-border-top-style);
border-top-width:var(--ods-shape-hover-border-top-width);
border-collapse:var(--ods-shape-hover-border-collapse);
width:var(--ods-shape-hover-width);
min-width:var(--ods-shape-hover-min-width);
max-width:var(--ods-shape-hover-max-width);
height:var(--ods-shape-hover-height);
min-height:var(--ods-shape-hover-min-height);
max-height:var(--ods-shape-hover-max-height);
border-radius:var(--ods-shape-hover-border-radius);
padding:var(--ods-shape-hover-padding);
padding-left:var(--ods-shape-hover-padding-left);
padding-right:var(--ods-shape-hover-padding-right);
padding-bottom:var(--ods-shape-hover-padding-bottom);
padding-top:var(--ods-shape-hover-padding-top);
margin:var(--ods-shape-hover-margin);
margin-left:var(--ods-shape-hover-margin-left);
margin-right:var(--ods-shape-hover-margin-right);
margin-top:var(--ods-shape-hover-margin-top);
margin-bottom:var(--ods-shape-hover-margin-bottom);
display:var(--ods-shape-hover-display);
overflow:var(--ods-shape-hover-overflow);
overflow-x:var(--ods-shape-hover-overflow-x);
overflow-y:var(--ods-shape-hover-overflow-y);
cursor:var( --ods-shape-hover-cursor);
}