.ods-image{
/* global-primitives-image */
background:var(--ods-image-background);
background-attachment:var(--ods-image-background-attachment);
background-color:var(--ods-image-bacground-color);
background-image:var(--ods-image-background-image);
background-position:var(--ods-image-background-position);
background-repeat:var(--ods-image-background-repeat);
border:var(--ods-image-border);
border-bottom:var(--ods-image-border-bottom);
border-bottom-color:var(--ods-image-border-bottom-color);
border-bottom-style:var(--ods-image-border-bottom-style);
border-bottom-width:var(--ods-image-border-bottom-width);
border-left:var(--ods-image-border-left); 
border-left-color:var(--ods-image-border-left-color);
border-left-style:var(--ods-image-border-left-style);
border-left-width:var(--ods-image-border-left-width);
border-right:var(--ods-image-border-right);
border-right-color:var(--ods-image-border-right-color);
border-right-style:var(--ods-image-border-right-style);
border-right-width:var(--ods-image-border-right-width);
border-top:var(--ods-image-border-top);
border-top-color:var(--ods-image-border-top-color);
border-top-style:var(--ods-image-border-top-style);
border-top-width:var(--ods-image-border-top-width);
border-collapse:var(--ods-image-border-collapse);
width:var(--ods-image-width);
min-width:var(--ods-image-min-width);
max-width:var(--ods-image-max-width);
height:var(--ods-image-height);
min-height:var(--ods-image-min-height);
max-height:var(--ods-image-max-height);
border-radius:var(--ods-image-border-radius);
padding:var(--ods-image-padding);
padding-left:var(--ods-image-padding-left);
padding-right:var(--ods-image-padding-right);
padding-bottom:var(--ods-image-padding-bottom);
padding-top:var(--ods-image-padding-top);
margin:var(--ods-image-margin);
margin-left:var(--ods-image-margin-left);
margin-right:var(--ods-image-margin-right);
margin-top:var(--ods-image-margin-top);
margin-bottom:var(--ods-image-margin-bottom);
display:var(--ods-image-display);
overflow:var(--ods-image-overflow);
overflow-x:var(--ods-image-overflow-x);
overflow-y:var(--ods-image-overflow-y);
cursor:var( --ods-image-cursor);
}



.ods-image{

background:var(--ods-image-hover-background);
background-attachment:var(--ods-image-hover-background-attachment);
background-color:var(--ods-image-hover-bacground-color);
background-image:var(--ods-image-hover-background-image);
background-position:var(--ods-image-hover-background-position);
background-repeat:var(--ods-image-hover-background-repeat);
border:var(--ods-image-hover-border);
border-bottom:var(--ods-image-hover-border-bottom);
border-bottom-color:var(--ods-image-hover-border-bottom-color);
border-bottom-style:var(--ods-image-hover-border-bottom-style);
border-bottom-width:var(--ods-image-hover-border-bottom-width);
border-left:var(--ods-image-hover-border-left); 
border-left-color:var(--ods-image-hover-border-left-color);
border-left-style:var(--ods-image-hover-border-left-style);
border-left-width:var(--ods-image-hover-border-left-width);
border-right:var(--ods-image-hover-border-right);
border-right-color:var(--ods-image-hover-border-right-color);
border-right-style:var(--ods-image-hover-border-right-style);
border-right-width:var(--ods-image-hover-border-right-width);
border-top:var(--ods-image-hover-border-top);
border-top-color:var(--ods-image-hover-border-top-color);
border-top-style:var(--ods-image-hover-border-top-style);
border-top-width:var(--ods-image-hover-border-top-width);
border-collapse:var(--ods-image-hover-border-collapse);
width:var(--ods-image-hover-width);
min-width:var(--ods-image-hover-min-width);
max-width:var(--ods-image-hover-max-width);
height:var(--ods-image-hover-height);
min-height:var(--ods-image-hover-min-height);
max-height:var(--ods-image-hover-max-height);
border-radius:var(--ods-image-hover-border-radius);
padding:var(--ods-image-hover-padding);
padding-left:var(--ods-image-hover-padding-left);
padding-right:var(--ods-image-hover-padding-right);
padding-bottom:var(--ods-image-hover-padding-bottom);
padding-top:var(--ods-image-hover-padding-top);
margin:var(--ods-image-hover-margin);
margin-left:var(--ods-image-hover-margin-left);
margin-right:var(--ods-image-hover-margin-right);
margin-top:var(--ods-image-hover-margin-top);
margin-bottom:var(--ods-image-hover-margin-bottom);
display:var(--ods-image-hover-display);
overflow:var(--ods-image-hover-overflow);
overflow-x:var(--ods-image-hover-overflow-x);
overflow-y:var(--ods-image-hover-overflow-y);
cursor:var( --ods-image-hover-cursor);


}